.app {
  font-family: 'Poppins', sans-serif;
  background-color: #000000; /* Solid black background */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation: fadeIn 2s ease-out; /* Fade-in animation for the whole app */
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(10, 11, 12);
  padding: 1em 2em;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideInNav 1s ease-out; /* Slide-in effect for navbar */
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1em;
  margin: 0 1em;
  transition: color 0.3s ease;
  animation: fadeInText 1.5s ease-out; /* Fade-in animation for navigation links */
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
  color: blanchedalmond;
}

.nav-link:hover {
  color: burlywood;
}

.content {
  padding: 2em;
  background-color: #000000; /* Ensure black background for content area */
  color: #ffffff; /* White text for visibility */
  animation: fadeIn 2s ease-out; /* Fade-in animation for content */
}

html {
  scroll-behavior: smooth;
  background-color: #000000; /* Black background for the entire page */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInNav {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
